/frontend/env.bat
*.pyc
/env.bat
*.whl
*.spec
frontend/python_core/todocore.egg-info/PKG-INFO
frontend/python_core/todocore.egg-info/SOURCES.txt
frontend/python_core/todocore.egg-info/top_level.txt
frontend/python_core/todocore.egg-info/dependency_links.txt
frontend/python-flask/venv
frontend/python-kivy/venv
frontend/python-kivy/build
frontend/python-kivy/dist
data.json
